.root {
    height: 90vh;
    margin: 5px 5px;
    overflow-y: auto;
}

.bodyContainer {
    margin: 5px 15px;
}

.title {
    font-size: 23px;
    font-weight: bold;
    margin: 30px 0px 20px 30px;
}

.searchContainer {
    border: 1px solid rgba(224, 224, 224, 1);
    border-radius: 7px;
    display: flex;
    color: gray;
    padding-left: 5px;
    align-items: center;
    margin-left: auto;
    width: 60vw;
}

.inputBox {
    border: none;
}

.inputBox:focus {
    outline: none;
}

.grayText {
    color: gray;
    font-size: 14px;
}

.main {
    margin: 30px 20px;
}

.classify {
    display: flex;
    gap: 40px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 5px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    padding-left: 10px;
}

.text {
    margin-left: 40px;
}

.listContainer {
    margin-top: 10px;
    padding-left: 12px;
    display: flex;
    gap: 40px;
    align-items: center;
    border-bottom: 0.5px solid gray;
    padding-bottom: 5px;
    position: relative;
}

.dateContainer {
   color: rgba(130, 130, 130, 1);
   font-size: 14px;
   margin-left: 20px;
   display: flex;
   flex-direction: column;
   min-width: 80px;
}

.timeText {
    margin: 0 auto;
}

.userImageContainer {
    width: 40px;
    margin-left: 10px;
}

.userImage {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.moreIconContainer {
    margin-left: auto;
    margin-right: 20px;
    position: relative;
}

.dropdownMenu {
    position: absolute;
    top: 20px;
    right: 0;
    width: 30px;
    background-color: white;
    border: 1px solid rgba(224, 224, 224, 1);
    padding: 5px 10px;
    z-index: 10;
    font-size: 13px;
    color: rgb(55, 55, 55);
    border-radius: 2px;
}

.summary {
    margin-left: 15px;
    font-size: 14.5px;
    line-height: 1.7;
    color: rgb(58, 58, 58);
}

.none {
    margin: 20px 50px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pageItem {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.activePage {
    background-color: #3f3f3f;
    color: white;
    border: 1px solid #3f3f3f;
    padding: 5px 10px;
    border-radius: 3px;
}