.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    border-bottom: 1.5px solid #ddd;
  }
  
  .logo {
    font-size: 17px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-left: 15px;
    margin-bottom: 3px;
  }
  
  .buttoncontainer {
    display: flex;
    align-items: center;
    background-color:rgba(245, 245, 245, 1);
    padding-right: 7px;
    border-radius: 10px;
  }
  
  .logoutbutton {
    padding: 0px 12px;
    font-size: 11px;
    font-weight: bold;
    color: black;
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(245, 245, 245, 1);
  }

  .mypagebutton {
    margin-right: 10px; 
    padding: 5px 7px;
    font-size: 11px;
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

  }

  .button:hover {
    background-color: #afafaf;
  }
  
  .profilecontainer {
    width: 30px;    
  }

  .profilePic {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 16px;
    margin-top: 2px;    
  }
