.root {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: bold;
    font-size: 25px;
    margin-left: 50px;
    margin-top: 25px;
}

.iconContainer {
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.thumbsUp {
    width: 200px;
}

.thumbsDown {
    width: 180px;
}

.button {
    width: 70px;
    background-color: white;
    color:rgba(130, 130, 130, 1);
    border: none;
    margin-left: auto;
    margin-right: 50px;
}